@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  
}
#root {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 320px;
  min-width: 320px;
  border-right: 1px solid #ccc;
}
.logo {
  margin-bottom: 25px;
}
.logo a {
  font-size: 30px;
}
.sidebar .description {
  font-size: 18px;
  line-height: 1.7;
  color: #999;
  margin-bottom: 25px;
}

.menu {

}
.menu ul {

}
.menu ul li {

}
.menu ul li a {
  display: block;
}
